target/
!.mvn/wrapper/maven-wrapper.jar
*.war


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

#nodejs
node_modules

#log
logs

.DS_Store
generatorConfig.xml
application.properties
.sass-cache
log.path_IS_UNDEFINED/
.mvn
mvnw
mvnw.cmd
*.diff
vendor
node_modules
swagger
llmall/llmall.2018-05-17.log.zip
