/* line 3, ../../sass/daily-report.scss */
.alert-tip {
  display: none;
}

/* line 7, ../../sass/daily-report.scss */
.daily-report .daily-report-condition {
  padding: 20px 0;
}
/* line 9, ../../sass/daily-report.scss */
.daily-report .daily-report-condition .gutter-right {
  margin-right: 20px;
}
/* line 13, ../../sass/daily-report.scss */
.daily-report .daily-report-condition input, .daily-report .daily-report-condition select, .daily-report .daily-report-condition button {
  width: 120px !important;
}
/* line 17, ../../sass/daily-report.scss */
.daily-report .tip {
  font-size: 12px;
}
/* line 21, ../../sass/daily-report.scss */
.daily-report .table-container .head-color {
  background-color: #eee;
}
/* line 25, ../../sass/daily-report.scss */
.daily-report .table-container .loading-image {
  text-align: center;
}
