@import "layouts/daily-report";

.alert-tip {
  display: none;
}
.daily-report {
  .daily-report-condition {
    padding: 20px 0;
    .gutter-right{
      margin-right: 20px;
    }

    input, select, button {
      width: 120px !important;
    }
  }
  .tip{
    font-size: 12px;
  }
  .table-container{
    .head-color {
      background-color: #eee;
    }

    .loading-image {
      text-align: center;
    }
  }
}