<script class="handlebars" type="text/x-handlebars-template">
    <!-- Modal -->
    <div class="modal fade" id="base-discount-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增折扣</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="business-type" class="col-sm-4 control-label">业务来源</label>
                            <div class="col-sm-7 business-type-select">
                                <select class="form-control business-type" id="business-type">
                                    <option>请选择业务来源...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="discount" class="col-sm-4 control-label">折扣率</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="discount" placeholder="0.00" value="{{#if discount}}{{discount}}{{/if}}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary save-base-discount">增加</button>
                </div>
            </div>
        </div>
    </div>
</script>