<script class="handlebars" type="text/x-handlebars-template">
    <select class="form-control bill-unit">
        {{#each billUnits}}
            <option value="{{code}}" {{selected this.code ../selectedBillUnit}}>{{message}}</option>
        {{/each}}
    </select>
</script>