<script class="handlebars" type="text/x-handlebars-template">
    <select class="form-control bill-source">
        {{#each this}}
            <option value="{{code}}">{{message}}</option>
        {{/each}}
    </select>
</script>