<script class="handlebars" type="text/x-handlebars-template">
    <select class="form-control bill-item">
        {{#each billItems}}
            <option value="{{code}}" {{selected this.code ../selectedBillItem}}>{{message}}</option>
        {{/each}}
    </select>
</script>