<script class="handlebars" type="text/x-handlebars-template">
    <select class="form-control business-type">
        {{#each businessTypes}}
            <option value="{{code}}" {{selected this.code ../selectedBusinessType}}>{{message}}</option>
        {{/each}}
    </select>
</script>