<script class="handlebars" type="text/x-handlebars-template">
    <tr class="loading-image">
        <td colspan="10"><img src="../../src/assets/img/ajax-loader.gif"/>数据加载中...</td>
    </tr>
</script>