<script class="handlebars" type="text/x-handlebars-template">
    <!-- Modal -->
    <div class="modal fade" id="provider-base-radio-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增代理商抽成比例</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="provider-code" class="col-sm-3 control-label">代理商编码</label>
                            <div>
                                <span class="col-sm-4">
                                    <input type="text" class="form-control" id="provider-code" placeholder="代理商编码" value="{{#if providerCode}}{{providerCode}}{{/if}}" />
                                </span>
                                <span class="col-sm-5">(英文字母、下划线和数字)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="provider-name" class="col-sm-3 control-label">代理商名称</label>
                            <div>
                                <span class="col-sm-4">
                                    <input type="text" class="form-control" id="provider-name" placeholder="代理商名称" value="{{#if providerName}}{{providerName}}{{/if}}" />
                                </span>
                                <span class="col-sm-5">(中、英文、下划线和数字)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="radio" class="col-sm-3 control-label">抽成比例</label>
                            <div>
                                <span class="col-sm-4">
                                    <input type="text" class="form-control" id="radio" placeholder="0.0000" value="{{#if radio}}{{radio}}{{/if}}" />
                                </span>
                                <span class="col-sm-5">(大于0，小于等于1)</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary save-provider-base-radio">增加</button>
                </div>
            </div>
        </div>
    </div>
</script>