<script class="toast-template" type="text/x-handlebars-template">
    <div class="toast inactive {{type}}">
        <div class="logo">
            <span class="{{logo}}"></span>
        </div>
        <div class="message">{{message}}</div>
    </div>
</script>