<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.g2link.web.stream.model.mapper.BillingWMPMessageMapper">
    <resultMap id="BaseResultMap" type="BillingWMPMessage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="msg_id" jdbcType="VARCHAR" property="msgId"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="data" resultMap="criteriaMap" />
    </resultMap>

    <resultMap id="criteriaMap" type="BillingCriteria">
        <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
        <result column="bill_time" jdbcType="TIMESTAMP" property="billTime" />
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="owner_code" jdbcType="VARCHAR" property="ownerCode" />
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
        <result column="bill_type" jdbcType="VARCHAR" property="billType" />
        <result column="bill_item" jdbcType="VARCHAR" property="billItem" />
        <result column="unit" jdbcType="BIT" property="unit" />
        <result column="unit_num" jdbcType="DECIMAL" property="unitNum" />
        <result column="item_code" jdbcType="VARCHAR" property="itemCode"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="length" jdbcType="DECIMAL" property="length"/>
        <result column="width" jdbcType="DECIMAL" property="width"/>
        <result column="height" jdbcType="DECIMAL" property="height"/>
        <result column="gross_weight" jdbcType="DECIMAL" property="grossWeight"/>
        <result column="net_weight" jdbcType="DECIMAL" property="netWeight"/>
        <result column="per_unit_num" jdbcType="DECIMAL" property="perUnitNum"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id, msg_id, source, UNIX_TIMESTAMP(create_time)*1000 as create_time, order_code,
        UNIX_TIMESTAMP(bill_time)*1000 as bill_time, warehouse_code, warehouse_name, owner_code,
        owner_name, bill_type, bill_item, unit, unit_num, item_code, item_name, `length`, width, height,
        gross_weight, net_weight, per_unit_num, quantity
    </sql>

    <insert id="insert" parameterType="BillingWMPMessage" useGeneratedKeys="true">
        INSERT INTO billing_wmp_message (
            msg_id, source, create_time,
            order_code, bill_time, warehouse_code,
            warehouse_name, owner_code, owner_name,
            bill_type, bill_item, unit,
            unit_num, item_code, item_name, `length`, width, height,
            gross_weight, net_weight, per_unit_num, quantity,remark
        )
        values (
            #{msgId,jdbcType=VARCHAR}, #{source,jdbcType=INTEGER}, FROM_UNIXTIME(#{createTime,jdbcType=TIMESTAMP}/1000),
            #{data.orderCode,jdbcType=VARCHAR}, FROM_UNIXTIME(#{data.billTime,jdbcType=TIMESTAMP}/1000), #{data.warehouseCode,jdbcType=VARCHAR},
            #{data.warehouseName,jdbcType=VARCHAR}, #{data.ownerCode,jdbcType=VARCHAR}, #{data.ownerName,jdbcType=VARCHAR},
            #{data.billType,jdbcType=VARCHAR}, #{data.billItem,jdbcType=VARCHAR}, #{data.unit,jdbcType=INTEGER},
            #{data.unitNum,jdbcType=DECIMAL},
            #{data.itemCode, jdbcType=VARCHAR},
            #{data.itemName, jdbcType=VARCHAR},
            #{data.length, jdbcType=DECIMAL},
            #{data.width, jdbcType=DECIMAL},
            #{data.height, jdbcType=DECIMAL},
            #{data.grossWeight, jdbcType=DECIMAL},
            #{data.netWeight, jdbcType=DECIMAL},
            #{data.perUnitNum, jdbcType=DECIMAL},
            #{data.quantity, jdbcType=DECIMAL},
            #{data.remark,jdbcType=VARCHAR}
        )
        <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.g2link.bms.common.model.entity.bill.BillingWMPMessage">
        UPDATE billing_wmp_message
        SET
            msg_id = #{msgId,jdbcType=INTEGER},
            source = #{source,jdbcType=INTEGER},
            create_time = FROM_UNIXTIME(#{createTime,jdbcType=TIMESTAMP}/1000),
            order_code = #{data.orderCode,jdbcType=VARCHAR},
            bill_time = FROM_UNIXTIME(#{data.billTime,jdbcType=TIMESTAMP}/1000),
            warehouse_code = #{data.warehouseCode,jdbcType=VARCHAR},
            warehouse_name = #{data.warehouseName,jdbcType=VARCHAR},
            owner_code = #{data.ownerCode,jdbcType=VARCHAR},
            owner_name = #{data.ownerName,jdbcType=VARCHAR},
            bill_type = #{data.billType,jdbcType=VARCHAR},
            bill_item = #{data.billItem,jdbcType=VARCHAR},
            unit = #{data.unit,jdbcType=INTEGER},
            unit_num = #{data.unitNum,jdbcType=DOUBLE},
            item_code = #{data.itemCode, jdbcType=VARCHAR},
            item_name = #{data.itemName, jdbcType=VARCHAR},
            `length` = #{data.length, jdbcType=DECIMAL},
            width= #{data.width, jdbcType=DECIMAL},
            height = #{data.height, jdbcType=DECIMAL},
            gross_weight = #{data.grossWeight, jdbcType=DECIMAL},
            net_weight = #{data.netWeight, jdbcType=DECIMAL},
            per_unit_num = #{data.perUnitNum, jdbcType=DECIMAL},
            quantity = #{data.quantity, jdbcType=DECIMAL},
            remark = #{data.remark,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getWMPMessages" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM billing_wmp_message;
    </select>
    <select id="getMessageById" resultMap="BaseResultMap" parameterType="int">
        SELECT
          <include refid="Base_Column_List"/>
        FROM billing_wmp_message t1
        WHERE t1.id = #{id};
    </select>
</mapper>