<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.g2link.web.stream.model.mapper.BillingMonthBillFeeMapper">
    <resultMap id="BaseResultMap" type="cn.g2link.bms.common.model.entity.bill.BillingMonthBillFee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="owner_code" jdbcType="VARCHAR" property="ownerCode"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="bill_time" jdbcType="TIMESTAMP" property="billTime"/>
        <result column="entry_fee" jdbcType="DECIMAL" property="entryFee"/>
        <result column="out_fee" jdbcType="DECIMAL" property="outFee"/>
        <result column="keep_fee" jdbcType="DECIMAL" property="keepFee"/>
        <result column="service_fee" jdbcType="DECIMAL" property="serviceFee"/>
        <result column="total_fee" jdbcType="DECIMAL" property="totalFee"/>
        <result column="pay_service_code" jdbcType="VARCHAR" property="payServiceCode"/>
        <result column="flow_code" jdbcType="VARCHAR" property="flowCode"/>
        <result column="is_pay" jdbcType="TINYINT" property="isPay"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,warehouse_code,warehouse_name,owner_code,
        owner_name,UNIX_TIMESTAMP(bill_time) * 1000 as bill_time,
        entry_fee,out_fee,keep_fee,service_fee,total_fee, pay_service_code,is_pay, flow_code,
        UNIX_TIMESTAMP(create_time) * 1000 as create_time, UNIX_TIMESTAMP(update_time) * 1000 as update_time
    </sql>

    <select id="countMonthBillFee" resultType="int">
        SELECT COUNT(1) as count FROM billing_month_bill_fee t1
        WHERE 1=1
        AND t1.warehouse_code = #{warehouseCode}
        AND t1.owner_code = #{ownerCode}
        AND DATE_FORMAT(t1.bill_time, '%Y-%m') = DATE_FORMAT(FROM_UNIXTIME(#{billTime}/1000), '%Y-%m')
    </select>

    <insert id="addMonthBillFee" parameterType="cn.g2link.bms.common.model.entity.bill.BillingMonthBillFee">
        INSERT INTO billing_month_bill_fee(
            warehouse_code, warehouse_name,
            owner_code, owner_name,
            bill_time, entry_fee,
            out_fee, keep_fee,
            service_fee, total_fee
            )
        VALUES (
            #{warehouseCode, jdbcType=VARCHAR}, #{warehouseName, jdbcType=VARCHAR},
            #{ownerCode, jdbcType=VARCHAR}, #{ownerName, jdbcType=VARCHAR},
            FROM_UNIXTIME(#{billTime,jdbcType=TIMESTAMP}/1000), #{entryFee, jdbcType=DECIMAL},
            #{outFee, jdbcType=DECIMAL}, #{keepFee, jdbcType=DECIMAL},
            #{serviceFee, jdbcType=DECIMAL}, #{totalFee, jdbcType=DECIMAL}
        )
    </insert>

    <update id="updateMonthBillFee" parameterType="cn.g2link.bms.common.model.entity.bill.BillingMonthBillFee">
        UPDATE billing_month_bill_fee AS t1
        SET t1.entry_fee = #{entryFee, jdbcType=DECIMAL},
            t1.out_fee = #{outFee, jdbcType=DECIMAL},
            t1.keep_fee = #{keepFee, jdbcType=DECIMAL},
            t1.service_fee = #{serviceFee, jdbcType=DECIMAL},
            t1.total_fee = #{totalFee, jdbcType=DECIMAL},
            t1.update_time = CURRENT_TIMESTAMP
        WHERE 1=1
        AND t1.warehouse_code = #{warehouseCode}
        AND t1.owner_code = #{ownerCode}
        AND DATE_FORMAT(t1.bill_time, '%Y-%m') = DATE_FORMAT(FROM_UNIXTIME(#{billTime}/1000), '%Y-%m')
    </update>

    <select id="getUnPayments" resultMap="BaseResultMap">
        SELECT DISTINCT
        t1.id ,
        t1.warehouse_code ,
        t1.warehouse_name ,
        t1.owner_code ,
        t1.owner_name ,
        UNIX_TIMESTAMP(t1.bill_time) * 1000 AS bill_time ,
        t1.entry_fee ,
        t1.out_fee ,
        t1.keep_fee ,
        t1.service_fee ,
        t1.total_fee ,
        t1.pay_service_code ,
        t1.is_pay ,
        t1.flow_code
        FROM `billing_month_bill_fee` t1
        LEFT JOIN `billing_warehouse_owner` t2
        ON t1.warehouse_code = t2.warehouse_code AND t1.owner_code = t2.owner_code
        WHERE 1=1
        <![CDATA[
          AND DATE_FORMAT(t1.bill_time, '%Y-%m') < DATE_FORMAT(CURRENT_TIMESTAMP, '%Y-%m')
        ]]>
        AND t2.business_type IN
        <foreach item="item" index="index" collection="needPaymentItems" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND t1.is_pay = 0
        AND t2.is_billing = 1
        ORDER BY t1.bill_time ASC
    </select>

    <select id="getUnPaymentsByOwnerCode" resultMap="BaseResultMap">
        SELECT DISTINCT
        t1.id ,
        t1.warehouse_code ,
        t1.warehouse_name ,
        t1.owner_code ,
        t1.owner_name ,
        UNIX_TIMESTAMP(t1.bill_time) * 1000 AS bill_time ,
        t1.entry_fee ,
        t1.out_fee ,
        t1.keep_fee ,
        t1.service_fee ,
        t1.total_fee ,
        t1.pay_service_code ,
        t1.is_pay ,
        t1.flow_code
        FROM `billing_month_bill_fee` t1
        LEFT JOIN `billing_warehouse_owner` t2
        ON t1.warehouse_code = t2.warehouse_code AND t1.owner_code = t2.owner_code
        WHERE 1=1
        AND t1.owner_code = #{ownerCode}
        <![CDATA[
          AND DATE_FORMAT(t1.bill_time, '%Y-%m') <= DATE_FORMAT(CURRENT_TIMESTAMP, '%Y-%m')
        ]]>
        AND t2.business_type IN
        <foreach item="item" index="index" collection="needPaymentItems" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND t1.is_pay = 0
        AND t2.is_billing = 1
        ORDER BY t1.bill_time ASC
    </select>

    <select id="getAllBillFeeMonthsByOwnerCode" resultType="String">
        SELECT DATE_FORMAT(t1.bill_time, '%Y-%m')
        FROM `billing_month_bill_fee` t1
        WHERE t1.owner_code = #{ownerCode};
    </select>

    <update id="updateMonthBillFeeForPayment">
        UPDATE `billing_month_bill_fee` t1
        SET t1.is_pay = #{isPay}, t1.pay_service_code = #{payServiceCode}, t1.flow_code = #{flowCode}, t1.update_time = FROM_UNIXTIME(#{paidTime}/1000)
        WHERE t1.id = #{id}
    </update>

    <select id="getMonthBillFee" resultMap="BaseResultMap">
        SELECT DATE_FORMAT(t1.bill_time, '%Y-%m')
        FROM `billing_month_bill_fee` t1
        WHERE t1.is_pay=1 and t1.owner_code = #{ownerCode};
    </select>

    <select id="getBillingOfMonth" resultType="int">
        SELECT count(1) as count
        FROM `billing_month_bill_fee` AS t1
        WHERE 1=1
        AND t1.warehouse_code = #{warehouseCode}
        AND t1.owner_code = #{ownerCode}
        AND DATE_FORMAT(t1.bill_time, '%Y-%m') = #{yearMonth};
    </select>

    <select id="getMonthBillByServiceCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM billing_month_bill_fee t1
        WHERE 1=1
        AND t1.pay_service_code = #{payServiceCode}
    </select>

    <select id="getHasPaid" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM billing_month_bill_fee t1
        WHERE 1=1
        AND t1.is_pay = 1
        AND t1.pay_service_code != ''
        AND t1.flow_code != ''
    </select>
</mapper>