<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.g2link.web.stream.model.mapper.BillingWarehouseOwnerMapper">
    <resultMap id="BaseResultMap" type="cn.g2link.bms.common.model.entity.bill.BillingWarehouseOwner">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="owner_code" jdbcType="VARCHAR" property="ownerCode"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="is_billing" jdbcType="INTEGER" property="isBilling"/>
        <result column="business_type" jdbcType="VARCHAR" property="businessType"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, warehouse_code, warehouse_name, owner_code, owner_name,
        UNIX_TIMESTAMP(start_time) * 1000 as start_time, UNIX_TIMESTAMP(end_time) * 1000 as end_time, is_billing, business_type
    </sql>

    <sql id="Base_Column_List2">
        DISTINCT warehouse_code, id, warehouse_name, owner_code, owner_name,
        UNIX_TIMESTAMP(start_time) * 1000 as start_time, UNIX_TIMESTAMP(end_time) * 1000 as end_time, is_billing, business_type
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM billing_warehouse_owner
        WHERE
          id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE from billing_warehouse_owner
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.g2link.bms.common.model.entity.bill.BillingWarehouseOwner">
        INSERT INTO billing_warehouse_owner(
            `warehouse_code` ,
            `warehouse_name` ,
            `owner_code` ,
            `owner_name` ,
            `start_time` ,
            `end_time` ,
            `is_billing` ,
            `business_type`
        )
        VALUES (
            #{warehouseCode,jdbcType=VARCHAR},
            #{warehouseName,jdbcType=VARCHAR},
            #{ownerCode,jdbcType=VARCHAR},
            #{ownerName,jdbcType=VARCHAR},
            FROM_UNIXTIME(#{startTime,jdbcType=TIMESTAMP}/1000),
            FROM_UNIXTIME(#{endTime,jdbcType=TIMESTAMP}/1000),
            #{isBilling,jdbcType=INTEGER},
            #{businessType, jdbcType=VARCHAR}
        )
      </insert>

    <insert id="insertSelective" parameterType="cn.g2link.bms.common.model.entity.bill.BillingWarehouseOwner">
        INSERT INTO billing_warehouse_owner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="warehouseCode != null">
                warehouse_code,
            </if>
            <if test="warehouseName != null">
                warehouse_name,
            </if>
            <if test="ownerCode != null">
                owner_code,
            </if>
            <if test="ownerName != null">
                owner_name,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="isBilling != null">
                is_billing,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="warehouseCode != null">
                #{warehouseCode,jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                #{warehouseName,jdbcType=VARCHAR},
            </if>
            <if test="ownerCode != null">
                #{ownerCode,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isBilling != null">
                #{isBilling,jdbcType=INTEGER},
            </if>
            <if test="businessType != null">
                #{business_type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.g2link.bms.common.model.entity.bill.BillingWarehouseOwner">
        UPDATE billing_warehouse_owner
        <set>
            <if test="warehouseCode != null">
                warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                warehouse_name = #{warehouseName,jdbcType=VARCHAR},
            </if>
            <if test="ownerCode != null">
                owner_code = #{ownerCode,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                owner_name = #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isBilling != null">
                is_billing = #{isBilling,jdbcType=INTEGER},
            </if>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.g2link.bms.common.model.entity.bill.BillingWarehouseOwner">
        UPDATE billing_warehouse_owner
        SET
            warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
            warehouse_name = #{warehouseName,jdbcType=VARCHAR},
            owner_code = #{ownerCode,jdbcType=VARCHAR},
            owner_name = #{ownerName,jdbcType=VARCHAR},
            start_time = #{startTime,jdbcType=TIMESTAMP},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            is_billing = #{isBilling,jdbcType=INTEGER},
            business_type = #{businessType,jdbcType=VARCHAR}
        where
            id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectIsBillingByCode" parameterType="BillingWarehouseOwner" resultType="int">
        SELECT COUNT(1) FROM billing_warehouse_owner
        WHERE 1=1
        AND warehouse_code = #{warehouseCode}
        AND owner_code = #{ownerCode}
        AND is_billing = 1
        AND FROM_UNIXTIME(#{startTime}/1000) BETWEEN start_time AND end_time
    </select>

    <select id="getOwnerByConditions" resultType="BillingWarehouseOwner" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM billing_warehouse_owner t1
        WHERE t1.is_billing = 1
            <if test="warehouseCode != null">
              AND t1.warehouse_code = #{warehouseCode}
            </if>
            <if test="ownerName != null">
                <bind name="pattern" value="'%' + _parameter.getOwnerName + '%'"/>
                AND t1.owner_name LIKE #{pattern}
            </if>
            <if test="billTime != null">
                AND FROM_UNIXTIME(#{billTime,jdbcType=TIMESTAMP}/1000) BETWEEN t1.start_time AND t1.end_time
            </if>
    </select>
    
    <select id="getAllRules" resultType="BillingWarehouseOwner" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List2"/>
        FROM billing_warehouse_owner t1
        WHERE t1.is_billing = 1
        AND FROM_UNIXTIME(#{billTime,jdbcType=TIMESTAMP}/1000) BETWEEN t1.start_time AND t1.end_time
    </select>

    <select id="getOwner" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM billing_warehouse_owner t1
        WHERE 1=1
        <if test="warehouseCode != null">
            AND t1.warehouse_code = #{warehouseCode}
        </if>
        <if test="ownerCode != null">
            AND t1.owner_code = #{ownerCode}
        </if>
    </select>

</mapper>