<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.llmall.commodity.model.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="biz.llmall.common.entity.commodity.Brand">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="logo_lg" jdbcType="VARCHAR" property="logoLg"/>
        <result column="logo_md" jdbcType="VARCHAR" property="logoMd"/>
        <result column="logo_sm" jdbcType="VARCHAR" property="logoSm"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="commodities" ofType="biz.llmall.common.entity.commodity.Commodity" fetchType="lazy">
            <id column="commodity_id" property="commodityId"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, short_name, logo_lg, logo_md, logo_sm, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from brand
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from brand
        where id = #{id,jdbcType=BIGINT}
        </delete>
        <insert id="insert" parameterType="biz.llmall.common.entity.commodity.Brand">
        insert into brand (id, name, short_name,
        logo_lg, logo_md, logo_sm,
        create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR},
        #{logoLg,jdbcType=VARCHAR}, #{logoMd,jdbcType=VARCHAR}, #{logoSm,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="biz.llmall.common.entity.commodity.Brand">
        update brand
        set name = #{name,jdbcType=VARCHAR},
        short_name = #{shortName,jdbcType=VARCHAR},
        logo_lg = #{logoLg,jdbcType=VARCHAR},
        logo_md = #{logoMd,jdbcType=VARCHAR},
        logo_sm = #{logoSm,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="findBrands" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `brand` t1
        where 1=1
    </select>
</mapper>