<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.llmall.commodity.model.mapper.CommodityMapper">
    <resultMap id="BaseResultMap" type="biz.llmall.common.entity.commodity.Commodity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="brand_id" jdbcType="BIGINT" property="brandId"/>
        <result column="name" jdbcType="VARCHAR" property="CommodityName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection
		        property="commodityImages"
		        column="id"
		        ofType="biz.llmall.common.entity.commodity.CommodityImage"
                select="CommodityImageBaseResultMap">
            <id column="commodity_id" property="commodityId"/>
        </collection>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="biz.llmall.common.entity.commodity.Commodity">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, brand_id, name, price, category_id, create_time, update_time
    </sql>
    <sql id="Blob_Column_List">
        description
    </sql>

	<resultMap id="CommodityImageBaseResultMap" type="biz.llmall.common.entity.commodity.CommodityImage">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
		<result column="url" jdbcType="VARCHAR" property="url"/>
	</resultMap>
	<sql id="Commodity_Image_Base_Column_List">
        id, commodity_id, url, create_time, update_time
    </sql>
	<select id="selectCommodityImageByPrimaryKey" parameterType="java.lang.Long" resultMap="CommodityImageBaseResultMap">
		select
		<include refid="Commodity_Image_Base_Column_List"/>
		from commodity_image
		where commodity_id = #{id,jdbcType=BIGINT}
	</select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from commodity
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from commodity
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="biz.llmall.common.entity.commodity.Commodity">
        insert into commodity (id, brand_id, name,
        price, category_id,
        create_time, update_time, description
        )
        values (#{id,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{price,jdbcType=DECIMAL}, #{categoryId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="biz.llmall.common.entity.commodity.Commodity">
        update commodity
        set brand_id = #{brandId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        price = #{price,jdbcType=DECIMAL},
        category_id = #{categoryId,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        description = #{description,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="biz.llmall.common.entity.commodity.Commodity">
        update commodity
        set brand_id = #{brandId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        price = #{price,jdbcType=DECIMAL},
        category_id = #{categoryId,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getCommoditiesByBrandId" resultMap="BaseResultMap" parameterType="long">
        SELECT * FROM commodity t1
        WHERE t1.brand_id = #{brandId, jdbcType=BIGINT}
    </select>
    <select id="findCommodities" resultMap="BaseResultMap">
        select * from commodity t1
        where 1=1
    </select>
</mapper>