<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.llmall.commodity.model.mapper.CommodityImageMapper">
    <resultMap id="CommodityImageBaseResultMap" type="biz.llmall.common.entity.commodity.CommodityImage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Commodity_Image_Base_Column_List">
        id, commodity_id, url, create_time, update_time
    </sql>
    <select id="selectCommodityImagesByPrimaryKey" parameterType="java.lang.Long" resultMap="CommodityImageBaseResultMap">
        select
        <include refid="Commodity_Image_Base_Column_List"/>
        from commodity_image
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from commodity_image
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="biz.llmall.common.entity.commodity.CommodityImage">
        insert into commodity_image (id, commodity_id, url,
        create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{commodityId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="biz.llmall.common.entity.commodity.CommodityImage">
        update commodity_image
        set commodity_id = #{commodityId,jdbcType=BIGINT},
        url = #{url,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

	<select id="findCommodityImages" resultMap="CommodityImageBaseResultMap">
		select
		<include refid="Commodity_Image_Base_Column_List" />
		from commodity_image t1
		where 1=1
	</select>
</mapper>