<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.g2link.web.stream.model.mapper.PriceBusinessDiscountMapper">
    <resultMap id="BaseResultMap" type="cn.g2link.bms.common.model.entity.price.PriceBusinessDiscount">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="business_type" jdbcType="VARCHAR" property="businessType" />
        <result column="discount" jdbcType="DECIMAL" property="discount" />
        <result column="partner_code" jdbcType="VARCHAR" property="partnerCode" />
        <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
      id, business_type, discount, partner_code, partner_name, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from price_business_discount t1
        where 1=1
        AND t1.enabled = '1'
        AND id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        UPDATE price_business_discount t1
        SET t1.enabled = '0'
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.g2link.bms.common.model.entity.price.PriceBusinessDiscount">
        insert into price_business_discount (business_type, discount,
          partner_code, partner_name, create_time,
          update_time)
        values (#{businessType,jdbcType=VARCHAR}, #{discount,jdbcType=DECIMAL},
          #{partnerCode,jdbcType=VARCHAR}, #{partnerName,jdbcType=VARCHAR}, CURRENT_TIMESTAMP ,
          CURRENT_TIMESTAMP )
    </insert>
    <insert id="insertSelective" parameterType="cn.g2link.bms.common.model.entity.price.PriceBusinessDiscount">
    insert into price_business_discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
            id,
          </if>
          <if test="businessType != null">
            business_type,
          </if>
          <if test="discount != null">
            discount,
          </if>
          <if test="partnerCode != null">
            partner_code,
          </if>
          <if test="partnerName != null">
            partner_name,
          </if>
          <if test="createTime != null">
            create_time,
          </if>
          <if test="updateTime != null">
            update_time,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="businessType != null">
            #{businessType,jdbcType=VARCHAR},
          </if>
          <if test="discount != null">
            #{discount,jdbcType=DECIMAL},
          </if>
          <if test="partnerCode != null">
            #{partnerCode,jdbcType=VARCHAR},
          </if>
          <if test="partnerName != null">
            #{partnerName,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateTime != null">
            #{updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.g2link.bms.common.model.entity.price.PriceBusinessDiscount">
    update price_business_discount
        <set>
          <if test="businessType != null">
            business_type = #{businessType,jdbcType=VARCHAR},
          </if>
          <if test="discount != null">
            discount = #{discount,jdbcType=DECIMAL},
          </if>
          <if test="partnerCode != null">
            partner_code = #{partnerCode,jdbcType=VARCHAR},
          </if>
          <if test="partnerName != null">
            partner_name = #{partnerName,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateTime != null">
            update_time = #{updateTime,jdbcType=TIMESTAMP},
          </if>
        </set>
    where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.g2link.bms.common.model.entity.price.PriceBusinessDiscount">
        update price_business_discount
        set business_type = #{businessType,jdbcType=VARCHAR},
          discount = #{discount,jdbcType=DECIMAL},
          partner_code = #{partnerCode,jdbcType=VARCHAR},
          partner_name = #{partnerName,jdbcType=VARCHAR},
          update_time = CURRENT_TIMESTAMP
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getAllBusinessDiscount" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `price_business_discount` t1
        WHERE 1=1
        AND t1.enabled = '1'
        ORDER BY t1.create_time DESC
    </select>
</mapper>