<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.g2link.web.stream.model.mapper.PriceBaseMapper">
    <resultMap id="BaseResultMap" type="cn.g2link.bms.common.model.entity.price.PriceBase">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="bill_type" jdbcType="VARCHAR" property="billType" />
        <result column="bill_item" jdbcType="VARCHAR" property="billItem" />
        <result column="unit" jdbcType="INTEGER" property="unit" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="min_price" jdbcType="DECIMAL" property="minPrice" />
        <result column="sub_price" jdbcType="DECIMAL" property="subPrice" />
        <result column="sub_min_price" jdbcType="DECIMAL" property="subMinPrice" />
        <result column="period" jdbcType="TINYINT" property="period" />
        <result column="lat" jdbcType="TINYINT" property="lat" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, warehouse_code, warehouse_name, bill_type, bill_item, unit, price, min_price,
        sub_price, sub_min_price, period, lat, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from price_base t1

        where 1=1
        AND t1.enabled = '1'
        AND id = #{id,jdbcType=BIGINT}
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        UPDATE price_base t1
        SET t1.enabled = 0
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insert" parameterType="cn.g2link.bms.common.model.entity.price.PriceBase">
        insert into price_base (warehouse_code, warehouse_name,
            bill_type, bill_item, unit,
            price, min_price, sub_price,
            sub_min_price, period, lat,
            create_time, update_time)
        values (#{warehouseCode,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR},
            #{billType,jdbcType=VARCHAR}, #{billItem,jdbcType=VARCHAR}, #{unit,jdbcType=INTEGER},
            #{price,jdbcType=DECIMAL}, #{minPrice,jdbcType=DECIMAL}, #{subPrice,jdbcType=DECIMAL},
            #{subMinPrice,jdbcType=DECIMAL}, #{period,jdbcType=TINYINT}, #{lat,jdbcType=TINYINT},
            CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    <insert id="insertSelective" parameterType="cn.g2link.bms.common.model.entity.price.PriceBase">
        insert into price_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
              id,
            </if>
            <if test="warehouseCode != null">
              warehouse_code,
            </if>
            <if test="warehouseName != null">
              warehouse_name,
            </if>
            <if test="billType != null">
              bill_type,
            </if>
            <if test="billItem != null">
              bill_item,
            </if>
            <if test="unit != null">
              unit,
            </if>
            <if test="price != null">
              price,
            </if>
            <if test="minPrice != null">
              min_price,
            </if>
            <if test="subPrice != null">
              sub_price,
            </if>
            <if test="subMinPrice != null">
              sub_min_price,
            </if>
            <if test="period != null">
              period,
            </if>
            <if test="lat != null">
              lat,
            </if>
            <if test="createTime != null">
              create_time,
            </if>
            <if test="updateTime != null">
              update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
              #{id,jdbcType=BIGINT},
            </if>
            <if test="warehouseCode != null">
              #{warehouseCode,jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
              #{warehouseName,jdbcType=VARCHAR},
            </if>
            <if test="billType != null">
              #{billType,jdbcType=VARCHAR},
            </if>
            <if test="billItem != null">
              #{billItem,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
              #{unit,jdbcType=BIT},
            </if>
            <if test="price != null">
              #{price,jdbcType=DECIMAL},
            </if>
            <if test="minPrice != null">
              #{minPrice,jdbcType=DECIMAL},
            </if>
            <if test="subPrice != null">
              #{subPrice,jdbcType=DECIMAL},
            </if>
            <if test="subMinPrice != null">
              #{subMinPrice,jdbcType=DECIMAL},
            </if>
            <if test="period != null">
              #{period,jdbcType=TINYINT},
            </if>
            <if test="lat != null">
              #{lat,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
              #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
              #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.g2link.bms.common.model.entity.price.PriceBase">
        update price_base
            <set>
                <if test="warehouseCode != null">
                  warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
                </if>
                <if test="warehouseName != null">
                  warehouse_name = #{warehouseName,jdbcType=VARCHAR},
                </if>
                <if test="billType != null">
                  bill_type = #{billType,jdbcType=VARCHAR},
                </if>
                <if test="billItem != null">
                  bill_item = #{billItem,jdbcType=VARCHAR},
                </if>
                <if test="unit != null">
                  unit = #{unit,jdbcType=BIT},
                </if>
                <if test="price != null">
                  price = #{price,jdbcType=DECIMAL},
                </if>
                <if test="minPrice != null">
                  min_price = #{minPrice,jdbcType=DECIMAL},
                </if>
                <if test="subPrice != null">
                  sub_price = #{subPrice,jdbcType=DECIMAL},
                </if>
                <if test="subMinPrice != null">
                  sub_min_price = #{subMinPrice,jdbcType=DECIMAL},
                </if>
                <if test="period != null">
                  period = #{period,jdbcType=TINYINT},
                </if>
                <if test="lat != null">
                  lat = #{lat,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                  create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                  update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
            </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.g2link.bms.common.model.entity.price.PriceBase">
        update price_base
        set warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
            warehouse_name = #{warehouseName,jdbcType=VARCHAR},
            bill_type = #{billType,jdbcType=VARCHAR},
            bill_item = #{billItem,jdbcType=VARCHAR},
            unit = #{unit,jdbcType=BIT},
            price = #{price,jdbcType=DECIMAL},
            min_price = #{minPrice,jdbcType=DECIMAL},
            sub_price = #{subPrice,jdbcType=DECIMAL},
            sub_min_price = #{subMinPrice,jdbcType=DECIMAL},
            period = #{period,jdbcType=TINYINT},
            lat = #{lat,jdbcType=TINYINT},
            update_time = CURRENT_TIMESTAMP
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getPrices" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM `price_base` t1
        WHERE 1=1
        AND t1.enabled = '1'
        AND t1.warehouse_code = #{warehouseCode}
    </select>

    <select id="getAllBasePrices" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM `price_base` t1
        WHERE 1=1
        AND t1.enabled = '1'
        ORDER BY t1.create_time DESC ;
    </select>
</mapper>