<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table theme 1</title>
    <style>
        table th, table td {
            width: 350px
        }

        table {
            width: 100%;
            min-width: 1024px;
            font-size: 12px
        }

        table th {
            background: #e8e8e8;
            font-size: 14px
        }

        table tbody tr td {
            text-align: center;
        }

        table tr:hover{
            background: #c0c0c0;
        }

    </style>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="1">
    <thead>
    <tr>
        <th>统计日期</th>
        <th>际享仓货主总数</th>
        <th>K A货主总数</th>
        <th>代理人货主总数</th>
        <th>大 众货主总数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2018-05-03</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    </tbody>
</table>
</body>
</html>