<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/handlebars/dist/handlebars.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/vendor/datatables.net/js/jquery.dataTables.js" charset="UTF-8"></script>
<script type="text/javascript" src="/vendor/datatables.net-bs/js/dataTables.bootstrap.js" charset="UTF-8"></script>
<script type="text/javascript" src="/dist/templates.js" charset="UTF-8"></script>
<script type="text/javascript" src="/dist/bms-web.min.js" charset="UTF-8"></script>